---
pagination:
  data: iconsByFormat
  size: 1
  alias: item
permalink: "{{ item.permalink }}"
---
<!doctype html>
<meta charset="utf-8">
<title>{{ item.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="icon" href="{{ item.path }}">
<body>
<h1>{{ item.title }}</h1>
<p>file: <a href="{{ item.path }}">{{ item.path }}</a></p>
<figure>
<img src="{{ item.path }}">
</figure>
