---
pagination:
  data: pages
  size: 1
  alias: item
permalink: "{{ item.permalink }}"
---
<!doctype html>
<meta charset="utf-8">
<title>{{ item.title }}</title>
<meta name="viewport" content="width=device-width">
{% for icon in item.icons %}
<link
  {% if icon.rel %}rel="{{icon.rel}}"{% else %}rel="icon"{% endif %}
  {% if icon.type !== undefined %}type="{{icon.type}}"{% endif %}
  {% if icon.sizes !== undefined %}sizes="{{icon.sizes}}"{% endif %}
  {% if icon.media !== undefined %}media="{{icon.media}}"{% endif %}
  href="{{icon.href}}"
>
{% endfor %}
<style>
figure {
  margin-inline: 0;
}
footer {
  margin-top: 3em;
  padding: 1em 0 2em;
  border-top: thin solid #999;
}
</style>
<body>
<h1>{{ item.title }}</h1>

{% for icon in item.icons %}
<dl>
<dt>icon
<dd>
  <a href="{{ icon.href }}">{{ icon.href }}</a>
  <figure>
    <img src="{{ icon.href }}">
  </figure>
<dt>rel
<dd>
  {% if icon.rel %}
    <code>rel="{{icon.rel}}"</code>
  {% else %}
    <code>rel="icon"</code>
  {% endif %}
<dt>type
<dd>
  {% if icon.type === undefined %}
    not set
  {% elif icon.type === "" %}
    blank (<code>""</code>)
  {% else %}
    <code>type="{{icon.type}}"</code>
  {% endif %}
<dt>sizes
<dd>
  {% if icon.sizes === undefined %}
    not set
  {% elif icon.sizes === "" %}
    blank (<code>""</code>)
  {% else %}
    <code>sizes="{{icon.sizes}}"</code>
  {% endif %}
<dt>media
<dd>
  {% if icon.media === undefined %}
    not set
  {% elif icon.media === "" %}
    blank (<code>""</code>)
  {% else %}
    <code>media="{{icon.media}}"</code>
  {% endif %}
</dl>
{% endfor %}

<footer>
<nav>
<p><a href="/">home</a></p>
</nav>
</footer>
