---
pagination:
  data: pages
  size: 1
  alias: item
permalink: "{{ item.permalink }}"
---
<!doctype html>
<meta charset="utf-8">
<title>{{ item.title }}</title>
<meta name="viewport" content="width=device-width">
<link
  {% if item.shortcut %}rel="shortcut icon"{% else %}rel="icon"{% endif %}
  {% if item.type !== null %}type="{{item.type}}"{% endif %}
  href="{{item.path}}"
>
<body>
<h1>{{ item.title }}</h1>
<p>name: {{ item.path }}</p>
<p>type: {{ item.type }}</p>
<p>shortcut: {{ item.shortcut }}</p>
<figure>
<img src="{{ item.path }}">
<figcaption>preview: {{ item.path }}</figcaption>
</figure>
