---
pagination:
  data: pages
  size: 1
  alias: item
permalink: "{{ item.permalink }}"
---
<!doctype html>
<meta charset="utf-8">
<title>{{ item.title }}</title>
<meta name="viewport" content="width=device-width">
<link
  {% if item.shortcut %}rel="shortcut icon"{% else %}rel="icon"{% endif %}
  {% if item.type !== undefined %}type="{{item.type}}"{% endif %}
  href="{{item.iconPath}}"
>
<style>
figure {
  margin-inline: 0;
}
footer {
  margin-top: 3em;
  padding: 1em 0 2em;
  border-top: thin solid #999;
}
</style>
<body>
<h1>{{ item.title }}</h1>
<dl>
<dt>icon
<dd>
  <a href="{{ item.iconPath }}">{{ item.iconPath }}</a>
  <figure>
    <img src="{{ item.iconPath }}">
  </figure>
<dt>rel
<dd>
  {% if item.shortcut %}
    <code>rel="shortcut icon"</code>
  {% else %}
    <code>rel="icon"</code>
  {% endif %}
<dt>type
<dd>
  {% if item.type === null %}
    not set
  {% elif item.type === "" %}
    blank
  {% else %}
    <code>type="{{item.type}}"</code>
  {% endif %}
</dl>

<footer>
<nav>
<p><a href="/">home</a></p>
</nav>
</footer>
